body {
	font-family: 'Roboto';
}
h2 {
	text-transform: uppercase;
}
h3 {
	font-weight: bold;
}
a:hover {
	color: #00ffff;
	text-decoration: none;
}
button.navbar-toggle {
	float: none;
	margin-right: 0;
	padding: 0;
	margin-bottom: 0;
}
button.navbar-toggle .icon-bar {
	background: #a9b3b6;
}
button.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 8px;
}
.margin-left-20 {
	margin-left: 20px;
}
.padding-left-right {
	padding-left: 100px;
	padding-right: 100px;
}
.top-panel, footer {
	background: #000505;
}
.top-panel {
	height: 95px;
}
.city-and-time, .phone-top {
    color: #a9b3b6;
}
.city-and-time>div {
	width: 130px;
}
.city-and-time>div:first-of-type {
	border-bottom: 1px solid #a9b3b6;
	margin-top: 20px;
}
.city {
	float: left;
	padding-top: 10px;
}
.time {
	float: right;
	font-size: 24px;
	font-family: 'Digital';
	color: #00ffff;
}
.logo-block {
	margin: 11px 0 0 20px;
	display: block;
}
.logo-block img{
	height: 75px;
}
.phone-top {
	margin-top: 32px;
}
.phone-top img {
	height: 30px;
    position: absolute;
    left: -15px;
    top: 42px;
}
.phone-top span {
	font-size: 20px;
}
.search {
	background: transparent;
    outline: none;
    border: 1px solid #a9b3b6;
    height: 26px;
    margin-top: 54px;
    padding: 5px 8px;
    color: #0ff;
    width: 100%;
}
.profile-block, .cart-block, .search-block {
	display: block;
}
.cart-block img {
	height: 48px;
    margin-top: 34px;
}
.profile-block div {
	padding: 13px 15px;
    border: 1px solid #a9b3b6;
    text-transform: uppercase;
    color: #00ffff;
    margin-top: 32px;
}
#top-menu {
	background: #a9b3b6;
}
#top-menu a {
	color: #070707;
}
#top-menu li a {
	text-transform: uppercase;
	padding: 22px 15px;
}
.search-collapse {
	display: none;
}
.search-collapse .search {
	border: 1px solid #000505;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 618px;
    margin-left: 30px;
}
.price-order {
	float: right;
}
.price-order a {
	display: inline-block;
	text-transform: lowercase;
	text-decoration: underline;
	padding: 3px 15px 0;
}
.price-order img {
	height: 40px;
}
.slider-main {
	height: 517px;
	background: #eee;
}
.catalog-main, .about-main {
	padding-top: 30px;
	padding-bottom: 55px;
	text-align: center;
}
.catalog-main h2 {
	margin-bottom: 35px;
}
.catalog-main .item {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 140px;
	box-shadow: 1px 1px 3px #ccc9c9;
	margin: 0 -6px 15px;
	display: block;
	color: #070707;
}
.catalog-main .item p {
	position: relative;
    top: 115px;
    text-transform: uppercase;
}
.catalog-mobile-main a {
	display: block;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #070707;
	color: #070707;
	padding: 12px;
	text-decoration: none;
}
.about-main p{
	font-size: 18px;
	text-align: justify;
}
footer {
	height: 235px;
	padding-top: 30px;
	color: #a9b3b6;
}
footer a {
	color: #a9b3b6;
}
.footer-contacts p {
	margin-bottom: 0;
	font-size: 13px;
}
.footer-contacts a {
	color: #00ffff;
    font-size: 16px;
    text-decoration: underline;
    font-weight: lighter;
}
footer p.title-p {
	font-size: 16px;
	font-weight: bold;
}
.footer-links p.title-p {
	margin-bottom: 30px;
}
.footer-links a {
    text-decoration: underline;
    display: block;
    margin-bottom: 5px;
}
footer .price-order {
	float: none;
}
footer .price-order a:first-of-type {
	padding-left: 0;
}
.footer-arrow {
	padding-top: 10px;
	position: relative;
}
.footer-arrow a {
	display: block;
}
.footer-arrow img {
	height: 60px;
}
.footer-arrow p {
	position: absolute;
    top: 32px;
    text-transform: uppercase;
    left: 10px;
}
footer .price-order,
.footer-arrow {
	margin-left: 40px;
}
@media (min-width: 992px) {
	.col-md-2_4 {
		float: left;
		position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	    width: 20%;
	}
}
@media (max-width: 1199px) {
	.padding-left-right {
		padding-left: 0;
		padding-right: 0;
	}
	footer .price-order,
	.footer-arrow {
		margin-left: 20px;
	}
	.logo-block {
		margin: 20px 0 0;
	}
	.logo-block img{
		height: 65px;
	}
	.phone-top {
	    margin: 38px -15px 0 -3px;
	}
	.phone-top img {
	    top: 48px;
	}
	.phone-top span {
	    font-size: 17px;
	}
	.profile-block img, 
	.cart-block img, 
	.search-block img {
		height: 40px;
	    margin-top: 42px;
	}
	.profile-block div {
		padding: 10px 13px;
	    font-size: 12px;
	    margin: 41px -5px 0;
	}
}
@media (max-width: 991px) {
	.padding-left-right {
		padding-left: 15px;
		padding-right: 15px;
	}
	.catalog-main .item {
		margin: 0 0 30px;
		height: 170px;
	}
	.catalog-main .item p {
		top: 145px;
	}
	button.navbar-toggle {
		margin-top: 43px;
	}
	button.navbar-toggle .icon-bar {
		width: 44px;
    	height: 7px;
	}
	.search-collapse .search {
	    margin-left: 45px;
	}
}
@media (max-width: 767px) {

	.profile-block img, 
	.search-block img {
		height: 30px;
	    margin-top: 51px;
	    margin-left: 7px;
	}
	.search-profile-menu-xs>button, 
	.search-profile-menu-xs>a {
		float: right;
		margin-left: 20px;
	}
	#top-menu li a {
		padding: 10px 15px;
	}
	.footer-links, .footer-arrow {
		width: 200px;
    	margin: auto;
    	text-align: center;
	}
	button.navbar-toggle {
		margin-top: 50px;
		margin-right: 10px;
	}
	button.navbar-toggle .icon-bar {
		width: 36px;
	    height: 4px;
	}
	.search-collapse form {
		padding: 15px 45px;
	}
	.search-collapse .search {
	    margin: 0;
	    width: 100%;
	}
}