body {
	font-family: 'Roboto';
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 27px;
}
h1, h2 {
	text-transform: uppercase;
}
h3 {
	font-weight: bold;
}
a:hover {
	color: #00ffff;
	text-decoration: none;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}

/*Menu burger*/

button.navbar-toggle {
	float: none;
	margin-right: 0;
	padding: 0;
	margin-bottom: 0;
}
button.navbar-toggle .icon-bar {
	background: #a9b3b6;
}
button.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 8px;
}

.breadcrumb {
	background-color: transparent;
}
.breadcrumb a {
	color: #a9b3b6;
}

.margin-left-20 {
	margin-left: 20px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.padding-left-right {
	padding-left: 100px;
	padding-right: 100px;
}
a.back-to-list {
	display: block;
	margin-top: 20px;
    color: #a9b3b6;
    text-decoration: underline;
}
.top-panel, footer {
	background: #000505;
}
.top-panel {
	height: 95px;
}
.city-and-time, .phone-top {
    color: #a9b3b6;
}
.city-and-time>div {
	width: 130px;
}
.city-and-time>div:first-of-type {
	border-bottom: 1px solid #a9b3b6;
	margin-top: 20px;
}
.city {
	float: left;
	padding-top: 10px;
}
.time {
	float: right;
	font-size: 24px;
	font-family: 'Digital';
	color: #00ffff;
}
.logo-block {
	margin: 11px 0 0 20px;
	display: block;
}
.logo-block img{
	height: 75px;
}
.phone-top {
	margin-top: 32px;
}
.phone-top img {
	height: 30px;
    position: absolute;
    left: -15px;
    top: 42px;
}
.phone-top span {
	font-size: 20px;
}
.search {
	background: transparent;
    outline: none;
    border: 1px solid #a9b3b6;
    height: 26px;
    margin-top: 54px;
    padding: 5px 28px 5px 8px;
    color: #0ff;
    width: 100%;
}
.profile-block, .cart-block, .search-block {
	display: block;
}
.cart-block img {
	height: 48px;
    margin-top: 34px;
}
.profile-block div {
	padding: 13px 15px;
    border: 1px solid #a9b3b6;
    text-transform: uppercase;
    color: #00ffff;
    margin-top: 32px;
}
#top-menu {
	background: #a9b3b6;
}
#top-menu a {
	color: #070707;
}
#top-menu li a {
	text-transform: uppercase;
	padding: 22px 15px;
}
#top-menu li.active,
#top-menu li a:hover,
#top-menu li a:focus {
	background-color: #fff;
}
#top-menu .dropdown-menu>li>a {
	padding: 3px 20px;
}

/*Seacrh*/

.search-collapse {
	display: none;
}
.search-collapse form {
	position: relative;
}
.search-collapse .search {
	border: 1px solid #000505;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 618px;
    margin-left: 30px;
}
.search-loope {
	position: absolute;
    bottom: 2px;
    right: 20px;
}
.search-collapse .search-loope {
	bottom: 18px;
    right: 92px;
}
.search-loope img {
	height: 20px;
}


/*Price and order links*/

.price-order {
	float: right;
}
.price-order a {
	display: inline-block;
	text-transform: lowercase;
	text-decoration: underline;
	padding: 3px 15px 0;
}
.price-order img {
	height: 40px;
}

/*Slider on main*/

.slider-main .slide-block {
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	outline: none;
}
.slider-main .slide-text {
	position: relative;
	color: #00ffff;
	font-size: 36px;
    text-transform: uppercase;
    text-shadow: 1px 2px 5px #000;
    height: 200px;
	top: 120px;
	left: 90px;
	width: 700px;
}
ul.slick-dots {
	bottom: 50px;
}
ul.slick-dots li button {
	border: 1px solid #000;
	border-radius: 50%;
	width: 10px;
    height: 10px;
}
ul.slick-dots li button:before {
	content: "";
}
ul.slick-dots li.slick-active button {
	background: #000;
}
button.slick-arrow {
	z-index: 100;
	width: 40px;
    height: 100px;
}
button.slick-prev {
	left: 25px;
}
button.slick-next {
	right: 25px;
}
button.slick-prev:before, 
button.slick-next:before {
	line-height: inherit;
	font-size: 90px;
}
button.slick-prev:before {
	content: '\2329';
}
button.slick-next:before {
	content: '\232A';
}


/*Catalog on main*/

.catalog-main,
.about-main,
.news-list,
.news-detail,
.contacts,
.production {
	padding-top: 30px;
	padding-bottom: 55px;
	text-align: center;
}
.catalog-main h2,
.news-list h1,
.contacts h1,
.production h1,
.production h2 {
	margin-bottom: 35px;
}
.catalog-main .item {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 140px;
	box-shadow: 1px 1px 3px #ccc9c9;
	margin: 0 -6px 15px;
	display: block;
	color: #070707;
}
.catalog-main .item p {
	position: relative;
    top: 115px;
    text-transform: uppercase;
}
.catalog-mobile-main a {
	display: block;
	text-transform: uppercase;
	/* text-align: center; */
	border-bottom: 1px solid #070707;
	color: #070707;
	padding: 12px;
	text-decoration: none;
}
.catalog-mobile-main a img {
	height: 60px;
	margin-right: 10px;
}


/*About company on main*/

.about-main p,
.production p {
	font-size: 18px;
	text-align: justify;
}


/*News list & news detail*/

.news-list .item {
	padding-top: 20px;
    padding-bottom: 30px;
    text-align: left;
}
.news-list .item:after {
	border-bottom: 1px solid #a9b3b6;
    width: 860px;
    margin-left: 62px;
    display: table;
    content: " ";
}
.news-list .preview-picture a, .news-detail .detail-picture {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}
.news-list .preview-picture a {
	height: 176px;
	width: 234px;
	float: right;
}
.news-detail .detail-picture {
	height: 577px;
	width: 100%;
}
.news-list h3 {
	font-weight: 800;
	margin-top: 0;
	margin-bottom: 4px;
}
.news-list .date, .news-detail .date {
	font-size: 16px;
    color: #a9b3b6;
    margin-bottom: 22px;
}
.news-list .preview-text p, .news-detail .preview-text {
	margin-bottom: 20px;
	font-size: 16px;
    font-style: italic;
}
.news-list a {
	color: #a9b3b6;
	text-decoration: underline;
}
.news-list a:hover {
	color: #09b5b5;
	text-decoration: none;
}
.news-detail {
	text-align: left;
}
.news-detail .detail-text{
	text-align: justify;
	font-size: 16px;
}
@media (max-width: 991px) {
	.news-list .preview-picture {
		float: left;
	}
	.news-list .preview-picture a{
		height: 158px;
		width: 210px;
	}
	.news-list .item:after {
	    width: 613px;
	}
	.news-detail .detail-picture {
		height: 424px;
	}
}
@media (max-width: 767px) {
	.news-list .preview-picture a{
		height: 56px;
		width: 75px;
	}
	.news-list .preview-picture + div {
		width: calc(100% - 105px);
		float: left;
	}
	.news-list .item:after {
	    width: calc(100% - 30px);
    	margin-left: 15px;
	}
	.news-list .preview-text {
		clear: both;
	}
	.news-list h3 {
		font-size: 18px;
	}
}

/*Contacts*/
.contacts p {
	text-align: left;
	padding-left: 8px;
	font-size: 16px;
	/* margin: 0; */
}
.contacts .on-map {
	color: #09b5b5;
	text-align: left;
	display: block;
	padding-left: 8px;
	text-decoration: underline;
}
.contacts .contact {
	margin-bottom: 35px;
}
.contacts .contact-name {
	font-size: 18px;
	color: #09b5b5;
}
.contacts .contact-place {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.contacts .post {
	font-style: italic;
}
.contacts .tel span {
	font-weight: 800;
}
.contacts .email a {
	color: #a9b3b6;
}
.contacts .slide-contact {
	text-align: left;
    padding-left: 23px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #000505;
    text-decoration: underline;
}
.contacts .map-block {
	padding-top: 30px;
	padding-bottom: 3px;
}
.contacts .map {
	background: #f3f3a5;
	height: 225px;
}
.contacts .map-obj {
	padding-bottom: 10px;
	border-bottom: 1px solid #a9b3b6;
}
.contacts .map-obj .map-obj-name {
    margin: 10px 0 5px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
}
@media (max-width: 991px) {
	.contacts-floated-offices + a + div {
		margin-top: 30px;
	}
	.contacts .map {
		height: 341px;
	}
}
@media (max-width: 767px) {
	.contacts .contact {
		display: none;
	}
	.contacts-floated-offices + a + div {
		margin-top: 0;
	}
	.contacts .map {
		height: 220px;
	}
}
@media (min-width: 992px) {
	.contacts-floated-offices {
		float: right;
	}
}


/*Production*/

.prod-item {
	padding: 23px 15px;
	text-align: left;
	display: table;
}
.prod-link {
	display: table-cell;
    vertical-align: middle;
    width: 355px;
    font-size: 18px;
    color: #000505;
    text-decoration: underline;
}
.prod-link:hover, .prod-link:focus {
    color: #09b5b5;
}
.prod-icon {
	width: 78px;
	height: 78px;
}
.prod-descr {
	margin-top: 50px;
	display: none;
}
.prod-descr .prod-descr-img {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 326px;
    margin: 20px auto;
}
@media (max-width: 991px) {
	.prod-descr .prod-descr-img {
		height: 245px;
	}
	.prod-link {
	    width: 230px;
	}
}
@media (max-width: 767px) {
	.prod-descr .prod-descr-img {
		max-width: 320px;
	}
	.prod-item {
	    width: 290px;
	    margin: auto;
	    padding-left: 0;
	    padding-right: 0;
	} 
	.prod-link {
	    width: 190px;
	}    
}


/*Footer*/

footer {
	height: 235px;
	padding-top: 30px;
	color: #a9b3b6;
}
footer a {
	color: #a9b3b6;
}
.footer-contacts p {
	margin-bottom: 0;
	font-size: 13px;
}
.footer-contacts a {
	color: #00ffff;
    font-size: 16px;
    text-decoration: underline;
    font-weight: lighter;
}
footer p.title-p {
	font-size: 16px;
	font-weight: bold;
}
.footer-links p.title-p {
	margin-bottom: 30px;
}
.footer-links a {
    text-decoration: underline;
    display: block;
    margin-bottom: 5px;
}
footer .price-order {
	float: none;
}
footer .price-order a:first-of-type {
	padding-left: 0;
}
.footer-arrow {
	padding-top: 10px;
	position: relative;
}
.footer-arrow a {
	display: block;
}
.footer-arrow img {
	height: 60px;
}
.footer-arrow p {
	position: absolute;
    top: 32px;
    text-transform: uppercase;
    left: 10px;
}
footer .price-order,
.footer-arrow {
	margin-left: 40px;
}




@media (min-width: 992px) {
	.col-md-2_4 {
		float: left;
		position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	    width: 20%;
	}
}
@media (max-width: 1199px) {
	.padding-left-right {
		padding-left: 0;
		padding-right: 0;
	}
	footer .price-order,
	.footer-arrow {
		margin-left: 20px;
	}
	.logo-block {
		margin: 20px 0 0;
	}
	.logo-block img{
		height: 65px;
	}
	.phone-top {
	    margin: 38px -15px 0 -3px;
	}
	.phone-top img {
	    top: 48px;
	}
	.phone-top span {
	    font-size: 17px;
	}
	.profile-block img, 
	.cart-block img, 
	.search-block img {
		height: 40px;
	    margin-top: 42px;
	}
	.profile-block div {
		padding: 10px 13px;
	    font-size: 12px;
	    margin: 41px -5px 0;
	}
}
@media (max-width: 991px) {
	.padding-left-right {
		padding-left: 15px;
		padding-right: 15px;
	}
	.catalog-main .item {
		margin: 0 0 30px;
		height: 170px;
	}
	.catalog-main .item p {
		top: 145px;
	}
	button.navbar-toggle {
		margin-top: 43px;
	}
	button.navbar-toggle .icon-bar {
		width: 44px;
    	height: 7px;
	}
	.search-collapse .search {
	    margin-left: 45px;
	}
	.slider-main .slide-block {
		height: 280px;
	}
	.slider-main .slide-text {
	    height: 160px;
	    top: 60px;
	    left: 70px;
	    width: 600px;
	    font-size: 30px;
	}
	ul.slick-dots {
		bottom: 20px;
	}
}
@media (max-width: 767px) {

	.profile-block img, 
	.search-block img {
		height: 30px;
	    margin-top: 51px;
	    margin-left: 7px;
	}
	.search-profile-menu-xs>button, 
	.search-profile-menu-xs>a {
		float: right;
		margin-left: 20px;
	}
	#top-menu li a {
		padding: 10px 15px;
	}
	.footer-links, .footer-arrow {
		width: 200px;
    	margin: auto;
    	text-align: center;
	}
	button.navbar-toggle {
		margin-top: 50px;
		margin-right: 10px;
	}
	button.navbar-toggle .icon-bar {
		width: 36px;
	    height: 4px;
	}
	.search-collapse form {
		padding: 15px 45px;
	}
	.search-collapse .search {
	    margin: 0;
	    width: 100%;
	}
	.search-collapse .search-loope {
	    right: 50px;
	}
	.slider-main .slide-block {
		height: 200px;
	}
	.slider-main.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
	ul.slick-dots {
		bottom: 10px;
	}
	.slider-main .slide-text {
	    height: 140px;
	    top: 30px;
	    left: 60px;
	    width: 380px;
	    font-size: 24px;
	}
	button.slick-prev:before, 
	button.slick-next:before {
		font-size: 70px;
	}
}
@media (max-width: 499px) {
	.slider-main .slide-text {
	    height: 140px;
	    top: 30px;
	    left: 20px;
	    width: 280px;
	    font-size: 20px;
	}
	button.slick-arrow {
		z-index: -1;
	}
}