body {
	font-family: 'Roboto';
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 27px;
}
h1, h2 {
	text-transform: uppercase;
}
h3 {
	font-weight: bold;
}
a:hover, a:focus {
	text-decoration: none;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}
.back-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.flex-row {
	display: flex;
}
/*Menu burger*/

button.navbar-toggle {
	float: none;
	margin-right: 0;
	padding: 0;
	margin-bottom: 0;
}
button.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 8px;
}
.margin-left-20 {
	margin-left: 20px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.padding-left-right {
	padding-left: 100px;
	padding-right: 100px;
}
a.back-to-list {
	display: block;
	margin-top: 20px;
    text-decoration: underline;
}
.top-panel {
	height: 95px;
}
.city-and-time>div {
	width: 130px;
}
.city-and-time>div:first-of-type {
	border-bottom: 1px solid;
	margin-top: 20px;
}
.city {
	float: left;
	padding-top: 10px;
}
.time {
	float: right;
	font-size: 24px;
	font-family: 'Digital';
}
.logo-block {
	margin: 11px 0 0 20px;
	display: block;
}
.logo-block img{
	height: 75px;
}
.phone-top {
	margin-top: 32px;
}
.phone-top img {
	height: 30px;
    position: absolute;
    left: -15px;
    top: 42px;
}
.phone-top span {
	font-size: 20px;
}
.search {
    outline: none;
    border: 1px solid;
    height: 26px;
    margin-top: 54px;
    padding: 5px 28px 5px 8px;
    width: 100%;
}
.profile-block, .cart-block, .search-block {
	display: block;
}
.cart-block img {
	height: 48px;
    margin-top: 34px;
}
.profile-block div {
	padding: 13px 15px;
    border: 1px solid;
    text-transform: uppercase;
    margin-top: 32px;
}
#top-menu li a {
	text-transform: uppercase;
	padding: 22px 15px;
}

#top-menu .dropdown-menu>li>a {
	padding: 3px 20px;
}

/*Seacrh*/
.search-form {
	position: relative;
	margin: 0;
}
.search-collapse {
	display: none;
}
.search-collapse form {
	position: relative;
}
.search-collapse .search {
	border: 1px solid;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 618px;
    margin-left: 30px;
}
.search-loope {
	position: absolute;
    bottom: 2px;
    right: 3px;
}
.search-collapse .search-loope {
	bottom: 18px;
    right: 92px;
}
.search-loope img {
	height: 20px;
}


/*Price and order links*/

.price-order {
	float: right;
}
.price-order a {
	display: inline-block;
	text-transform: lowercase;
	text-decoration: underline;
	padding: 3px 15px 0;
}
.price-order img {
	height: 40px;
}

/*Slider on main*/

.slider-main .slide-block {
	height: 400px;
	outline: none;
}
.slider-main .slide-text {
	position: relative;
	font-size: 36px;
    text-transform: uppercase;
    text-shadow: 1px 2px 5px #000;
    height: 200px;
	top: 120px;
	left: 90px;
	width: 700px;
}
ul.slick-dots {
	bottom: 50px;
}
ul.slick-dots li button {
	border: 1px solid;
	border-radius: 50%;
	width: 10px;
    height: 10px;
}
ul.slick-dots li button:before {
	content: "";
}
button.slick-arrow {
	z-index: 100;
	width: 40px;
    height: 100px;
}
button.slick-prev {
	left: 25px;
}
button.slick-next {
	right: 25px;
}
button.slick-prev:before, 
button.slick-next:before {
	line-height: inherit;
	font-size: 90px;
}
button.slick-prev:before {
	content: '\2329';
}
button.slick-next:before {
	content: '\232A';
}


.catalog,
.catalog-detail,
.about-main,
.news-list,
.news-detail,
.contacts,
.production,
.reference-book,
.extra-services,
.login-registration,
.feedback,
.personal,
.basket,
.search-page {
	padding-top: 30px;
	padding-bottom: 55px;
	text-align: center;
}
.catalog h1,
.catalog h2,
.catalog-detail h1,
.news-list h1,
.contacts h1,
.production h1,
.production h2,
.reference-book h1,
.reference-book h2,
.extra-services h1,
.extra-services h2,
.login-registration h1,
.login-registration h2,
.feedback h1,
.personal h1,
.basket h1,
.search-page h1 {
	margin-bottom: 35px;
}

.about-main p,
.production p,
.reference-book p,
.reference-book li,
.extra-services p,
.extra-services li {
	font-size: 18px;
	text-align: justify;
}

/*Catalog on main, catalog and catalog-detail*/

.catalog .item {
	height: 140px;
	box-shadow: 1px 1px 3px #ccc9c9;
	margin: 0 -6px 15px;
	display: block;
}
.catalog .item p {
	position: relative;
    top: 115px;
    text-transform: uppercase;
}
.catalog-mobile-main a {
	display: block;
	text-transform: uppercase;
	border-bottom: 1px solid;
	padding: 12px;
	text-decoration: none;
}
.catalog-mobile-main a img {
	height: 60px;
	margin-right: 10px;
}
.catalog-detail-image {
	height: 374px;
	width: 374px;
}
.catalog-detail .catalog-descr {
	padding: 10px;
	margin-top: 60px;
}
.catalog-detail .catalog-descr p {
	margin: 0;
	font-size: 20px;
}
.catalog-detail .catalog-table {
	text-align: left;
}
.catalog-detail .catalog-table-row {
	border-left: 1px solid;
	border-right: 1px solid;
	display: flex;
}
.catalog-detail .catalog-table.catalog-table-props > div:first-of-type {
	border: none;
    text-align: center;
}
.catalog-detail .catalog-table-head > div,
.catalog-detail .catalog-table-row > div {
	padding: 10px;
}
.catalog-detail .catalog-table-row > div {
	border-bottom: 1px solid;
	border-right: 1px solid;
}
.catalog-detail .catalog-table-row > div:last-of-type {
	border-right: none;
}
.catalog-detail .catalog-table-row span {
	display: none;
	font-weight: 600;
}
.catalog-detail .weight-price {
	margin-top: 24px;
}
.catalog-detail .weight-price select,
.catalog-detail .weight-price input {
	padding: 5px;
	outline: none;
	border-radius: 5px;
	border: 1px solid;
	width: 100%;
}
.catalog-detail .weight-price .select-amount {
	float: left;
	width: 90px;
}
.catalog-detail .weight-price .input-price {
	float: right;
	width: 160px;
}
.catalog-detail .weight-price small {
	float: right;
}
.catalog-detail .to-basket a {
	display: block;
	float: right;
	text-transform: uppercase;
	margin-top: 36px;
	padding: 14px;
	width: 190px;
	text-decoration: none;
	border-radius: 5px;

}
@media (max-width: 991px) {
	.catalog-detail-image {
		height: 328px;
		width: 328px;
	}
	.catalog-detail .catalog-descr {
		margin-top: 40px;
	}
}
@media (max-width: 767px) {
	.catalog-detail .catalog-table-types .catalog-table-row {
		display: block;
	}
	.catalog-detail .catalog-table-row > div {
		border-right: none;
	}
	.catalog-detail .catalog-table-types .catalog-table-row > div:not(.catalog-table-row-name) {
		display: none;
	}
	.catalog-detail .catalog-table-row span {
		display: block;
	}
	.catalog-detail-image {
		height: 240px;
		width: 240px;
		margin: auto;
	}
	.catalog-detail .to-basket a {
		margin-right: auto;
		margin-left: auto;
		float: none;
	}
}


/*News list & news detail*/

.news-list .item {
	padding-top: 20px;
    padding-bottom: 30px;
    text-align: left;
}
.news-list .item:after {
	border-bottom: 1px solid;
    width: 860px;
    margin-left: 62px;
    display: table;
    content: " ";
}
.news-list .preview-picture a, .news-detail .detail-picture {
    display: block;
    margin-bottom: 30px;
}
.news-list .preview-picture a {
	height: 176px;
	width: 234px;
	float: right;
}
.news-detail .detail-picture {
	height: 577px;
	width: 100%;
}
.news-list h3 {
	font-weight: 800;
	margin-top: 0;
	margin-bottom: 4px;
}
.news-list .date, .news-detail .date {
	font-size: 16px;
    margin-bottom: 22px;
}
.news-list .preview-text p, .news-detail .preview-text {
	margin-bottom: 20px;
	font-size: 16px;
    font-style: italic;
}
.news-list a {
	text-decoration: underline;
}
.news-list a:hover {
	text-decoration: none;
}
.news-detail {
	text-align: left;
}
.news-detail .detail-text {
	text-align: justify;
	font-size: 16px;
}
@media (max-width: 991px) {
	.news-list .preview-picture {
		float: left;
	}
	.news-list .preview-picture a {
		height: 158px;
		width: 210px;
	}
	.news-list .item:after {
	    width: 613px;
	}
	.news-detail .detail-picture {
		height: 424px;
	}
}
@media (max-width: 767px) {
	.news-list .preview-picture a{
		height: 56px;
		width: 75px;
	}
	.news-list .preview-picture + div {
		width: calc(100% - 105px);
		float: left;
	}
	.news-list .item:after {
	    width: calc(100% - 30px);
    	margin-left: 15px;
	}
	.news-list .preview-text {
		clear: both;
	}
	.news-list h3 {
		font-size: 18px;
	}
}

/*Contacts*/
.contacts p {
	text-align: left;
	padding-left: 8px;
	font-size: 16px;
}
.contacts .on-map {
	text-align: left;
	display: block;
	padding-left: 8px;
	text-decoration: underline;
}
.contacts .contact {
	margin-bottom: 35px;
}
.contacts .contact-name {
	font-size: 18px;
}
.contacts .contact-place {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.contacts .post {
	font-style: italic;
}
.contacts .tel span {
	font-weight: 800;
}
.contacts .slide-contact {
	text-align: left;
    padding-left: 23px;
    margin-bottom: 30px;
    font-size: 20px;
    text-decoration: underline;
}
.contacts .map-block {
	padding-top: 30px;
	padding-bottom: 3px;
}
.contacts .map {
	height: 225px;
}
.contacts .map-obj {
	padding-bottom: 10px;
	border-bottom: 1px solid;
}
.contacts .map-obj .map-obj-name {
    margin: 10px 0 5px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
}
@media (max-width: 991px) {
	.contacts-floated-offices + a + div {
		margin-top: 30px;
	}
	.contacts .map {
		height: 341px;
	}
}
@media (max-width: 767px) {
	.contacts .contact {
		display: none;
	}
	.contacts-floated-offices + a + div {
		margin-top: 0;
	}
	.contacts .map {
		height: 220px;
	}
}
@media (min-width: 992px) {
	.contacts-floated-offices {
		float: right;
	}
}


/*Production, reference-book & extra-services*/

.prod-item, .ref-item, .exserv-item {
	text-align: left;
	display: table;
}
.prod-item, .exserv-item {
	padding: 15px;
}
.ref-item {
	padding: 10px 15px;
}
.prod-link, .ref-link, .exserv-link {
	display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    text-decoration: underline;
}
.prod-link, .exserv-link {
	width: 355px;
}
.ref-link {
	width: 395px;
}
.prod-icon, .exserv-icon {
	width: 78px;
	height: 78px;
}
.ref-icon {
	width: 38px;
	height: 38px;
}
.prod-descr, .ref-descr, .exserv-descr {
	margin-top: 50px;
	display: none;
}
.prod-descr .prod-descr-img,
.ref-descr .ref-descr-img,
.exserv-descr .exserv-descr-img {
    margin: 20px auto;
}
.prod-descr .prod-descr-img, 
.exserv-descr .exserv-descr-img {
	height: 326px;
}
.ref-descr .ref-descr-img {
	height: 178px;
}
@media (max-width: 991px) {
	.prod-descr .prod-descr-img,
	.exserv-descr .exserv-descr-img {
		height: 245px;
	}
	.ref-descr .ref-descr-img {
		height: 277px;
	}
	.prod-link, .exserv-link {
	    width: 230px;
	}
	.ref-link {
		width: 270px;
	}
}
@media (max-width: 767px) {
	.prod-descr .prod-descr-img,
	.ref-descr .ref-descr-img,
	.exserv-descr .exserv-descr-img {
		max-width: 320px;
	}
	.prod-item, .ref-item, .exserv-item {
	    width: 290px;
	    margin: auto;
	    padding-left: 0;
	    padding-right: 0;
	} 
	.prod-link, .exserv-link {
	    width: 190px;
	}    
	.ref-link {
	    width: 230px;
	}
}


/*Login, Registration & Feedback*/

.login-registration a {
	text-decoration: underline;
}
.login-registration form,
.feedback form {
	width: 260px;
	margin: auto;
}
.login-registration label {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}
.login-registration input[type="text"],
.login-registration input[type="submit"],
.feedback input[type="text"],
.feedback input[type="submit"],
.feedback textarea {
	display: block;
    width: 100%;
    margin-bottom: 28px;
    height: 40px;
    padding: 0 18px;
    outline: none;
}
.feedback textarea {
	padding: 10px 18px;
	height: 120px;
	resize: none;
}
.login-registration input[type="submit"],
.feedback input[type="submit"] {
    border: none;
}
.login-registration input[type="checkbox"] {
	margin: 5px 5px 0 0;
}

@media (min-width: 768px) {
	.feedback form {
		width: 450px;
	}
	.feedback input[type="submit"] {
		width: 50%;
		float: right;
	}
}


/*Order history, personal data and requisites*/

.personal p.set-personal-photo {
	text-decoration: none;
}
.personal .personal-photo {
	height: 110px;
	width: 110px;
	margin: 0 auto 10px;
}
.personal form {
	width: 100%;
	margin: auto;
}
.personal input[type="text"],
.personal input[type="submit"],
.basket .order-form input[type="text"],
.basket .order-form input[type="submit"] {
	display: block;
    width: 100%;
    margin-bottom: 16px;
    height: 40px;
    padding: 0 18px;
    outline: none;
}
.personal input[type="submit"],
.basket form input[type="submit"] {
    border: none;
    max-width: 260px;
    float: right;
}
.personal form small,
.basket form small {
	display: block;
	margin-bottom: 10px;
}
.personal .pers-link-block {
	margin-bottom: 10px;
	text-align: left;
}
.personal .pers-icon {
	height: 48px;
	width: 48px;
	margin-right: 14px;
}
.personal .pers-link {
	font-size: 18px;
    text-decoration: underline;
}
.personal .pers-link:hover,
.personal .pers-link:focus {
    text-decoration: none;
}
.order-history-table {
	font-size: 16px;
	text-align: left;
}
.order-history-table-row.head-row {
	font-weight: bold;
	text-transform: uppercase;
	border-top: 1px solid;
}
.order-history-table-row {
	border-bottom: 1px solid;
	display: flex;
}
.order-history-table-row > div:first-of-type {
	border-left: 1px solid;
}
.order-history-table-row > div {
	padding: 16px;
	border-right: 1px solid;
}
.order-history-table-row > div > span {
	display: block;
    height: 16px;
    width: 16px;
    float: left;
    border: 1px solid;
    margin: 2px 5px 0 0;
}
@media (max-width: 767px) {
	.personal form {
		width: 260px;
		margin-top: 30px;
	}
	.order-history-table {
		margin-top: 30px;
	}
	.personal .order {
		margin-bottom: 20px;
	}
	.order-history-table-row.head-row {
		border-top: none;
	}
	.order-history-table-row {
		border-bottom: 1px solid;
		border-left: 1px solid;
	}
	.order-history-table-row:first-of-type {
		border-top: 1px solid;
	}
	.order-history-table-row > div:first-of-type {
		border-left: none;
		text-transform: uppercase;
		font-weight: bold;
	}
}



/*Basket*/

.basket-table {
	text-align: left;
	margin-bottom: 40px;
}
.basket h3 {
	text-align: left;
}
.basket-table-header {
	text-transform: uppercase;
}
.basket-table-item {
	border-bottom: 1px solid;
}
.basket-table-header > div,
.basket-table-item > div {
	padding: 10px;
}
.basket-table-item > div {
	border-right: 1px solid;
}
.basket-table-item > div:first-of-type {
	border-left: 1px solid;
}
.basket-table .remove-block {
	border-right: 1px solid;
    border-bottom: 1px solid;
}
.basket-table .remove-block a {
	display: block;
    position: relative;
    top: calc(50% - 9px);
}
.basket-table .remove-item {
	height: 18px;
	width: 18px;
	margin: auto;
}
.basket-table-item select {
	padding: 5px 3px;
    outline: none;
    border: 1px solid;
    width: 100%;
}
.basket form {
	max-width: 390px;
}
.basket form label {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
}
.basket form input[type="radio"] {
	margin-right: 10px;
}
.order-summary {
	float: right;
}
.basket .order-total-sum {
	border: 1px solid;
	margin-bottom: 40px;
	padding: 30px;
	text-align: left;
	margin-top: 20px;
}
.basket .order-total-sum .summ-head {
	font-size: 24px;
	margin-bottom: 40px;
}
.basket .order-total-sum .summ {
	font-size: 30px;
}
.basket .order-summary small {
	display: block;
    text-align: justify;
}

/*404 page*/

.no-such-page h1,
.no-such-page p {
	font-weight: 800;
	text-align: center;
}
.no-such-page h1 {
	font-size: 80px;
	margin-bottom: 0;
}
.no-such-page p {
	font-size: 20px;
}      
.no-such-page a {
	font-size: 26px;
    text-decoration: underline;
    text-align: center;
    display: block;
}

/*Search page*/

.search-page ul,
.search-page li,
.search-page p {
	font-size: 16px;
}	
.search-page .no-search-result p {
	font-weight: bold;
}
.search-page .no-search-result ul {
	margin-bottom: 40px;
	padding-left: 20px;
	text-align: left;
}
.search-page .no-search-result p:first-of-type {
	font-size: 20px;
	margin-bottom: 40px;
}
.search-page .no-search-result p:last-of-type {
	text-align: justify;
}
.search-result-image > div {
	width: 260px;
	height: 208px;
	margin-top: 60px;
}
.search-result-elements {
	float: right;
	text-align: left;
}
.search-result-elements a,
.search-result-element-name a {
	display: block;
	margin-bottom: 20px;
	text-decoration: underline;
}
.search-result-elements a:hover,
.search-result-elements a:focus,
.search-result-element-name a:hover,
.search-result-element-name a:focus {
	text-decoration: none;
}
.search-result-elements h2 {
	margin-bottom: 20px;
}
.search-result-table-header {
    font-size: 16px;
}
.search-result-table-header > div,
.search-result-table-element > div {
	padding: 10px;
}
.search-result-table-element {
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}
.search-result-element-description p {
	text-align: left;
}
.search-result-element-description .to-basket-link {
    display: block;
    width: 160px;
    padding: 5px;
}
.search-result-element-name {
	display: flex;
	align-items: center;
	font-size: 16px;
}
.search-result-element-name a {
	margin-bottom: 0;
}
@media (max-width: 991px) {
	.search-result-image > div {
		width: 210px;
		height: 168px;
	}
}
@media (max-width: 767px) {
	.search-result-image > div {
		margin: auto;
	}
}



/*Footer*/

footer {
	height: 235px;
	padding-top: 30px;
}
.footer-contacts p {
	margin-bottom: 0;
	font-size: 13px;
}
.footer-contacts a {
    font-size: 16px;
    text-decoration: underline;
    font-weight: lighter;
}
footer p.title-p {
	font-size: 16px;
	font-weight: bold;
}
.footer-links p.title-p {
	margin-bottom: 30px;
}
.footer-links a {
    text-decoration: underline;
    display: block;
    margin-bottom: 5px;
}
footer .price-order {
	float: none;
}
footer .price-order a:first-of-type {
	padding-left: 0;
}
.footer-arrow {
	padding-top: 10px;
	position: relative;
}
.footer-arrow a {
	display: block;
}
.footer-arrow img {
	height: 60px;
}
.footer-arrow p {
	position: absolute;
    top: 32px;
    text-transform: uppercase;
    left: 10px;
}
footer .price-order,
.footer-arrow {
	margin-left: 40px;
}




@media (min-width: 992px) {
	.col-md-2_4 {
		float: left;
		position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	    width: 20%;
	}
}
@media (max-width: 1199px) {
	.padding-left-right {
		padding-left: 0;
		padding-right: 0;
	}
	footer .price-order,
	.footer-arrow {
		margin-left: 20px;
	}
	.logo-block {
		margin: 20px 0 0;
	}
	.logo-block img{
		height: 65px;
	}
	.phone-top {
	    margin: 38px -15px 0 -3px;
	}
	.phone-top img {
	    top: 48px;
	}
	.phone-top span {
	    font-size: 17px;
	}
	.profile-block img, 
	.cart-block img, 
	.search-block img {
		height: 40px;
	    margin-top: 42px;
	}
	.profile-block div {
		padding: 10px 13px;
	    font-size: 12px;
	    margin: 41px -5px 0;
	}
}
@media (max-width: 991px) {
	.padding-left-right {
		padding-left: 15px;
		padding-right: 15px;
	}
	.catalog .item {
		margin: 0 0 30px;
		height: 170px;
	}
	.catalog .item p {
		top: 145px;
	}
	button.navbar-toggle {
		margin-top: 43px;
	}
	button.navbar-toggle .icon-bar {
		width: 44px;
    	height: 7px;
	}
	.search-collapse .search {
	    margin-left: 45px;
	}
	.slider-main .slide-block {
		height: 280px;
	}
	.slider-main .slide-text {
	    height: 160px;
	    top: 60px;
	    left: 70px;
	    width: 600px;
	    font-size: 30px;
	}
	ul.slick-dots {
		bottom: 20px;
	}
}
@media (max-width: 767px) {

	.profile-block img, 
	.search-block img {
		height: 30px;
	    margin-top: 51px;
	    margin-left: 7px;
	}
	.search-profile-menu-xs>button, 
	.search-profile-menu-xs>a {
		float: right;
		margin-left: 20px;
	}
	#top-menu li a {
		padding: 10px 15px;
	}
	.footer-links, .footer-arrow {
		width: 200px;
    	margin: auto;
    	text-align: center;
	}
	button.navbar-toggle {
		margin-top: 50px;
		margin-right: 10px;
	}
	button.navbar-toggle .icon-bar {
		width: 36px;
	    height: 4px;
	}
	.search-collapse form {
		padding: 15px 45px;
	}
	.search-collapse .search {
	    margin: 0;
	    width: 100%;
	}
	.search-collapse .search-loope {
	    right: 50px;
	}
	.slider-main .slide-block {
		height: 200px;
	}
	.slider-main.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
	ul.slick-dots {
		bottom: 10px;
	}
	.slider-main .slide-text {
	    height: 140px;
	    top: 30px;
	    left: 60px;
	    width: 380px;
	    font-size: 24px;
	}
	button.slick-prev:before, 
	button.slick-next:before {
		font-size: 70px;
	}
	.catalog .item {
		margin: 0 auto 30px;
		height: 211px;
    	width: 260px;
	}
	.catalog .item p {
		top: 186px;
	}
}
@media (max-width: 499px) {
	.slider-main .slide-text {
	    height: 140px;
	    top: 30px;
	    left: 20px;
	    width: 280px;
	    font-size: 20px;
	}
	button.slick-arrow {
		z-index: -1;
	}
}